[submodule "leetcode-python"]
	path = leetcode-python
	url = https://github.com/algobot76/leetcode-python
[submodule "leetcode-java"]
	path = leetcode-java
	url = https://github.com/algobot76/leetcode-java
[submodule "lintcode-python"]
	path = lintcode-python
	url = https://github.com/algobot76/lintcode-python
[submodule "lintcode-java"]
	path = lintcode-java
	url = https://github.com/algobot76/lintcode-java.git
